body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
	background-color:#03827C;
}

.container {
    background-color: yellow;
    max-width: 500px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
	border-color:solid yellow;
	display:flex;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
	font-family:time new roman;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

input[type="number"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #FC086F;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.result {
    font-size: 18px;
}
